apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gitea
  namespace: argocd
spec:
  project: infra
  source:
    repoURL: "https://dl.gitea.com/charts/"
    chart: "gitea"
    targetRevision: 12.4.0  # Specify the version of the Helm chart
    helm:
      values: |
        gitea:
          admin:
            existingSecret: gitea-admin-secret
        postgresql-ha:
          enabled: false
        postgresql:
          enabled: true
        valkey-cluster:
          enabled: false
        valkey:
          enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: gitea
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false